extends layout

block content
    h1= title

    form(action="", method="post")
        div.form-group
            label Name:
            input(type="text", name="name", value="#{user.name}", class="form-control")
        
        div.form-group
            label city:
            input(type="text", name="city", value="#{user.city}", class="form-control")
        div.form-group
            label Email:
            input(type="text", name="email", value="#{user.email}", class="form-control")
        div.form-group
            label Mobile:
            input(type="text", name="mobile", value="#{user.mobile}", class="form-control")
        div.form-group
            button(type="submit", class="btn btn-default") Submit


